# Dependencies
node_modules/
*/node_modules/
__pycache__/
*.pyc
venv/
env/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
*.log
logs/

#Next
.next/

# IDE
.vscode/
.idea/
*.swp
*.swo


# Audio files
*.wav
*.mp3
*.m4a
temp_audio/
